*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Century Gothic", "Gothic", sans-serif;
}
body{
  background-image: url('pictures/pexels-nubikini-386009.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

nav{
    display:flex;
    background-color: black;
    opacity: 0.8;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding-bottom: 5px;
    padding-top: 5px;
}

.NavName{
    margin-left: 10px;
}

.NavName h1 {
    font-size: 1.5rem;
}

.NavName ul {
    list-style-type: none;
    display: flex;           
    align-items: center;     
  }
  
  .NavName ul li {
    margin-right: 10px;      
  }
  
  .NavName i {
    font-size: 1.5rem;
    color: #00bfff;          
  }


.NavItems ul {
    list-style-type: none;
    display: flex;          
    align-items: center;     
  }
  
  .NavItems ul li {
    margin-right: 10px;      
  }
  
  .NavItems i {
    font-size: 1 rem;
  }

  .NavItems a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
  }

  .NavSearch{
    margin-right: 10px;
  }

  .NavSearch ul {
    list-style-type: none;
    display: flex;          
    align-items: center;     
  }
  
  .NavSearch ul li {
    margin-right: 10px;      
  }
  
  .NavSearch i {
    font-size: 1 rem;
  }

  .placeSearch {

    width: 250px;
  }

.placeSearch:hover {

    border: 2px solid gray;
  }

.srcButton{
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
  }

  main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-left: 50px;

  }

  main h1{
    color:white;
    font-size: 4rem;

    margin-top: 50px;
    margin-bottom: 50px;

  }


  .contactForm{
    width: 450px;
  }

  .contactForm p{
    color: white;
    font-weight: bold;

    

  }

  .nameTag{
    margin-top: 5px;
    margin-bottom: 10px;
    width: 450px;
    height: 30px;
    opacity: 0.5;
  }

  .mailTag{
    margin-top: 5px;
    margin-bottom: 10px;
    width: 450px;
    height: 30px;
    opacity: 0.5;
  }

  .messageTag{
    margin-top: 5px;
    margin-bottom: 10px;
    width: 450px;
    height: 150px;
    opacity: 0.5;
  }

  .formBtn{
    margin-top: 5px;
    margin-bottom: 10px;
    width:450px;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
  }





